:root {
    --blue: #107999;
    --yellow: #FFCC48;
    --light: #F4F9FA;
    --dark: #03181F;
    --grey: #7B8E93;
}

// spacer
$spacer: 1rem;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;